<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
<head>
	{% include "pandectes-rules" %}
	
	
  <!-- Google tag (gtag.js) -->
  
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3EDEN0V00S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3EDEN0V00S');
</script>

  
  <!-- Google tag (gtag.js) -->
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}

  {{ content_for_header }}

  <script>
    var theme = {
      stylesheet: "{{ 'theme.css' | asset_url }}",
      template: {{ template | json }},
      routes: {
        home: "{{ routes.root_url }}",
        cart: "{{ routes.cart_url | append: '.js' }}",
        cartPage: "{{ routes.cart_url }}",
        cartAdd: "{{ routes.cart_add_url | append: '.js'}}",
        cartChange: "{{ routes.cart_change_url | append: '.js' }}"
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.general.regular_price' | t | json }},
        salePrice: {{ 'products.general.sale_price' | t | json }},
        inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
        oneStockLabel: {{ 'products.product.stock_label.one' | t: count: '[count]' | json }},
        otherStockLabel: {{ 'products.product.stock_label.other' | t: count: '[count]' | json }},
        willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
        willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
        waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
        cartItems: {{ 'cart.general.item_count' | t: count: '[count]' | json }},
        cartConfirmDelete: {{ 'cart.general.delete_confirm' | t | json }},
        cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
        maxQuantity: {{ 'cart.general.max_quantity' | t: quantity: '[quantity]', title: '[title]' | json }}
      },
      settings: {
        cartType: {{ settings.cart_type | json }},
        isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
        moneyFormat: {{ shop.money_format | json }},
        quickView: {{ settings.quick_shop_enable }},
        hoverProductGrid: {{ settings.product_hover_image }},
        themeName: 'Streamline',
        themeVersion: "6.2.0"
      }
    };

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {%- render 'css-variables' -%}
  {%- render 'critical-css' -%}
  {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}

  {%- if shop.enabled_currencies.size > 1 -%}
    <link rel="stylesheet" href="{{ 'country-flags.css' | asset_url | split: '?' | first }}">
  {%- endif -%}

  <script src="{{ 'vendor-v6.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% if request.design_mode %}
    <script src="https://api.archetypethemes.co/design-mode.js" defer="defer"></script>
  {% endif %}
</head>
  <!-- ELFISGHT Coding -->
  

     <!-- COOKIES -->
  
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-ad87af1e-569f-443a-8aa7-69548ba28a28"></div>

     <!-- POP UP -->

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-b05623a4-3ff9-4583-9a30-96e6e52e4de1"></div>
   
  <!-- End ELFISGHT Coding -->
<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}{% if settings.cart_type == 'sticky' and cart.item_count > 0 and template != 'cart' %} body--sticky-cart-open{% endif %}{% if cart.item_count > 0 %} cart-has-items{% endif %}" ontouchstart="return true;" data-transitions="{{settings.animate_page_transitions}}" data-animate_underlines="true" data-animate_images="{{settings.animate_images}}" data-button_style="{{settings.button_style}}" data-type_product_capitalize="{{settings.type_product_capitalize}}" data-type_header_capitalize="{{settings.type_header_capitalize}}" data-product_image_scatter="{{settings.product_image_scatter}}" data-button_type_style="{{settings.button_type_style}}">
  <div id="OverscrollLoader" class="overscroll-loader" aria-hidden="true">
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--full-color icon-loader--full-color"><path class="icon-loader__close" d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/><path class="icon-loader__path" d="M40 90a40 40 0 1 1 20 0"/></svg>
  </div>

  <div class="root">

    {%- if settings.animate_page_transitions -%}
      <script>window.setTimeout(function() { document.body.className += " loaded"; }, 25);</script>
    {%- endif -%}

    <div class="splash-screen">
      {%- if settings.animate_page_transitions and settings.logo_loader_image != blank -%}
        <div class="splash-screen__loader">
          {% comment %} Desktop logo {% endcomment %}
          {%- assign width = settings.logo_loader_image.width -%}
          {%- capture sizes -%}{{ settings.desktop_loader_width }}px{%- endcapture -%}
          {%- capture widths -%}{{ settings.desktop_loader_width }}, {{ settings.desktop_loader_width | times: 2 | at_most: settings.logo_loader_image.width }}{%- endcapture -%}
          {%- capture style -%}max-height: {{ settings.desktop_loader_width | divided_by: settings.logo_loader_image.aspect_ratio }}px;max-width: {{ settings.desktop_loader_width }}px;{%- endcapture -%}

          {% comment %} Mobile logo {% endcomment %}
          {%- capture mobile_sizes -%}{{ settings.mobile_loader_width }}px{%- endcapture -%}
          {%- capture mobile_widths -%}{{ settings.mobile_loader_width }}, {{ settings.mobile_loader_width | times: 2 | at_most: settings.logo_loader_image.width }}{%- endcapture -%}
          {%- capture mobile_style -%}max-height: {{ settings.mobile_loader_width | divided_by: settings.logo_loader_image.aspect_ratio }}px;max-width: {{ settings.mobile_loader_width }}px;{%- endcapture -%}

          {%- render 'image-element',
            img: settings.logo_loader_image,
            classes: 'loader-logo__img small--hide',
            img_width: width,
            sizes: sizes,
            widths: widths,
            style: style,
            ariaHidden: true,
          -%}

          {%- render 'image-element',
            img: settings.logo_loader_image,
            classes: 'loader-logo__img medium-up--hide',
            img_width: width,
            sizes: mobile_sizes,
            widths: mobile_widths,
            style: mobile_style,
            ariaHidden: true,
          -%}
        </div>
      {%- else -%}
        <span class="loader-text">{{ 'general.accessibility.loading' | t }}</span>
      {%- endif -%}
    </div>

    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    <div id="PageContainer" class="page-container">
      <div class="transition-body">
        {%- sections 'header-group' -%}
        {%- sections 'popup-group' -%}

        <main class="main-content" id="MainContent">

<!-- Wholesale Acces Coding -->
          
         {% if template contains 'wholesale' %} 

           {% if customer %} 

             {% if customer.tags contains 'wholesale' %} 

               {{ content_for_layout }} 

                 {% else %} 

                   {% include 'wholesale-note' %} 

             {% endif %} 

                 {% else %} 

                   {% include 'wholesale-note' %} 

             {% endif %} 

                {% else%} 

             {{ content_for_layout }} 

            {% endif %}

<!-- Wholesale Acces Coding -->
          
        </main>

        {%- sections 'footer-group' -%}
      </div>
    </div>

    {%- render 'video-modal' -%}
    {%- if settings.animate_page_transition_style == 'page-logo' -%}
      <div class="loader-logo">
        {%- if settings.logo_loader_image != blank -%}
          <div class="splash-screen__loader">
            {% comment %} Desktop logo {% endcomment %}
            {%- assign width = settings.logo_loader_image.width -%}
            {%- capture sizes -%}{{ settings.desktop_loader_width }}px{%- endcapture -%}
            {%- capture widths -%}{{ settings.desktop_loader_width }}, {{ settings.desktop_loader_width | times: 2 | at_most: settings.logo_loader_image.width }}{%- endcapture -%}
            {%- capture style -%}max-height: {{ settings.desktop_loader_width | divided_by: settings.logo_loader_image.aspect_ratio }}px;max-width: {{ settings.desktop_loader_width }}px;{%- endcapture -%}

            {% comment %} Mobile logo {% endcomment %}
            {%- capture mobile_sizes -%}{{ settings.mobile_loader_width }}px{%- endcapture -%}
            {%- capture mobile_widths -%}{{ settings.mobile_loader_width }}, {{ settings.mobile_loader_width | times: 2 | at_most: settings.logo_loader_image.width }}{%- endcapture -%}
            {%- capture mobile_style -%}max-height: {{ settings.mobile_loader_width | divided_by: settings.logo_loader_image.aspect_ratio }}px;max-width: {{ settings.mobile_loader_width }}px;{%- endcapture -%}

            {%- render 'image-element',
              img: settings.logo_loader_image,
              classes: 'loader-logo__img small--hide',
              img_width: width,
              sizes: sizes,
              widths: widths,
              style: style,
              ariaHidden: true,
            -%}

            {%- render 'image-element',
              img: settings.logo_loader_image,
              classes: 'loader-logo__img medium-up--hide',
              img_width: width,
              sizes: mobile_sizes,
              widths: mobile_widths,
              style: mobile_style,
              ariaHidden: true,
            -%}
          </div>
        {%- else -%}
          <span class="loader-text">{{ 'general.accessibility.loading' | t }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
  <div id="ProductScreens"></div>

  {%- liquid
    render 'photoswipe-template'
    if settings.cart_type == 'drawer'
      render 'cart-drawer'
    endif
    render 'tool-tip'
  -%}
  
    <!-- Zoho Sales IQ Coding -->
  
    <script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "431ccdf1853a657ad9538eba576fea1fff5f24a71a6af92ceb4613220446e34f231d9ee3718f774464a6bf8e89a12405", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
  
    <!-- Zoho Sales IQ Coding -->
  
  
     <!-- Zoho Forms Integration with Zoho Sales IQ -->
  
     <script type="text/javascript">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"431ccdf1853a657ad9538eba576fea1fff5f24a71a6af92ceb4613220446e34f231d9ee3718f774464a6bf8e89a12405", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");</script>
  
  
     <!-- Zoho Forms Integration with Zoho Sales IQ -->  
{% include 'appstle-subscription-helper' %}</body>
</html>
